#homepage {
     background-image: url(../img/tb5.jpg);    
}
#arriba
{
  padding: 10px 10px;
}

#modcaur{
	border-radius: 70px;
	width: 1000px
	border-radius:solid;
}

/*Pagina de contacto*/
#contacto{
	background-image: url(../img/opcion_fondo.jpg); 

}
#formulario{
	background-color: white;
}

