#homepage {
     background-image: url(../img/fon.jpg);  
     font-family: Verdana,Arial,sans-serif;  
}
#arriba
{
  padding: 10px 10px;
}

#modcaur{
	border-radius: 70px;
	width: 1000px
	border-radius:solid;
}



}
#formulario{
	background-color: white;
}
.carousel, .carousel-inner > .item > img {
  height: 100%;  width:100%;
}

#footer {
    width: 100%;
    display: block;
    bottom: 0;
    clear: both;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    z-index: 1;
}
#copy{
    line-height: 26px;
    font-weight: bold;
}

/*Pagina de contacto*/
#contacto{
	background-color:#2471A3;


}

#Multimedia{
	
	background-color: #BFC9CA;

}
#arribam{

	background-color: #C2F2F1;
}
#HISTORIA{
	background-color: #D68910;
}
#NOTICIAS{
	background-color: #F7DC6F  ;
}

